<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webSocketDemo</title>
    <script th:src="@{/js/jQuery.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquerysession.js}" type="text/javascript"></script>

</head>
<body>
    <div id="sse">
        <p id="userToken"></p>
        <a href="javascript:WebSocketTest()">运行 WebSocket</a>
    </div>
    <div >
        <p id="messageArea"></p>
    </div>
    <div>
        <label for="token">目标id</label> <input id="token" type="text" ><br/>
        <label for="messageBody">消息内容</label><input id="messageBody" type="text"><br/>
        <input id="submitBTN" type="button" onclick="sendMessage()" value="发送">
    </div>

</body>
<script type="text/javascript">

    let token = "token" + new Date().getTime();
    console.log(token)
    $('#userToken').append(token)
    WebSocketTest()
    function WebSocketTest()
    {
        if ("WebSocket" in window)
        {
            console.log("您的浏览器支持 WebSocket!");

            // 打开一个 web socket
            let ws = new WebSocket("ws://localhost:8088/myWebSocketDemo?token=" + token);

            ws.onopen = function()
            {
                // Web Socket 已连接上，使用 send() 方法发送数据
                //             ws.send("发送数据");
                console.log("与服务器建立连接成功！")

            };

            ws.onmessage = function (evt)
            {
                let received_msg = evt.data;
                console.log("接收数据：" + received_msg)
                $('#messageArea').append(received_msg + `<br/>`);
            };

            ws.onclose = function()
            {
                // 关闭 websocket
                alert("连接已关闭...");
            };
        }

        else
        {
            // 浏览器不支持 WebSocket
            alert("您的浏览器不支持 WebSocket!");
        }
    }
    let messageBody = $("#messageBody")
    let aimId = $("#token")
    function sendMessage(){
        let toToken = aimId.val()
        let message = messageBody.val()
        if (toToken == null || toToken === '') {
            toToken = token
            message = token + message
        }
        let url = "http://localhost:8088/message/" + toToken + "/" + message;
        messageBody.val("")

        $.get(url)

    }
</script>
</html>